* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("Resource/background_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.logo_properties {
  position: fixed;
}

.topbar {
  height: 80px;
  background-color: #1d2c3e;
}

.topbar nav ul {
  text-align: right;
}
.topbar nav ul li {
  list-style: none;
  line-height: 50px;
  display: inline-block;
  margin: 20px;
}
.topbar nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
